::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #303030;
  border-radius: 20px;
}

.fav {
  background-color: #8661c1;
  border: none;
  outline: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: #fff;
  font-size: xx-large;
  text-align: center;
  align-content: center;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  padding: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: all 0.2s ease;
}
.fav:hover {
  background-color: #603c9a;
}
.fav:active {
  transition: transform 0.1s ease;
  transform: scale(0.9);
}
.main-art {
  /* margin-top: 10px; */
  /* background-color: red; */
  /* width: 100%; */
  @media (min-width: 768px) {
    right: -5px;
  }
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  position: relative;
  /* padding: 20px; */
  height: 87vh;
  width: 100%;
  @media (min-width: 768px) {
    /* flex-grow: ; */

    height: 87vh;
    width: 87%;
    margin-left: auto;
    margin-right: 10px;
    /* margin: 0px 20px; */
    /* border: 1px red solid; */
    border-radius: 20px;
    background-color: #242424;
  }
  /* background-color: red; */
  /* align-items: flex-start; */
  /* flex-grow: 1; */
  z-index: 1;
  /* overflow: hidden; */
}
.main-section {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  /* background-color: blue; */
  width: 100%;
  /* overflow: hidden; */
}

.note {
  background-color: #3c3c3c;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  margin: 10px 10px;
  flex-grow: 1;
  width: 36%;
  @media (min-width: 768px) {
    width: 25%;
  }

  border-radius: 20px;
  /* color: ; */
  height: fit-content;
  box-shadow: 0px 2px 15px #19191974;
  transition: all 0.2s ease;
}
.note:hover {
  background-color: #303030;
}
.note pre {
  /* background-color: red; */
  color: #e1e1e1;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 10px 0px 10px 10px;
  border-radius: 10px 0px 0px 10px;
  /* border: 1px solid #be97c6; */
  /* border-right: none; */
  word-wrap: break-word;
  text-wrap: wrap;
}
.title-div {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  width: 100%;
  color: #be97c6;
  font-size: large;
  font-weight: 630;
}

.trash {
  height: 20px;
  width: 20px;
  /* margin-left: auto; */
  transition: all 0.2s ease;
}
.trash:hover {
  filter: hue-rotate(85deg) contrast(2);
}
.trash:hover {
  cursor: pointer;
}

.aside-and-main-art {
  /* background-color: red; */
  display: flex;
  padding-left: 20px;
  overflow-y: hidden;
  overflow: hidden;
  /* height: 100%; */
}

aside {
  /* background-color: red; */

  padding-top: 10px;
  height: 87vh;
  /* width: 20%; */
  max-width: 100%;
  @media (max-width: 768px) {
    /* display: none; */
    max-width: 0%;
  }
  @media (min-width: 768px) {
    width: 16%;
    height: 87vh;
  }
  /* background-color: red; */
  /* background-color: #303030; */
  /* border: 1px red solid; */
  /* border-radius: 20px 0px 0px 20px; */
  /* padding: 20px; */
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}

img {
  height: 30px;
  width: 30px;
}

#home {
  /* background-color: blue; */
  margin-top: auto;
  margin-bottom: 20px;
}
aside section img {
  margin-right: 20px;
}
aside section {
  display: flex;
  flex-direction: row;

  padding: 15px 5px;
  align-items: center;
  transition: all 0.2s ease;
}
aside section:hover {
  background-color: #242424;
  cursor: pointer;
  border-radius: 10px 0px 0px 10px;
  color: #be97c6;
  font-weight: 600;
  /* font-size: 18px; */
  /* padding: 15px; */
  /* margin-right: 10px; */
  /* margin-left: 5px; */
  transform: translate(10%);
}

body {
  overflow: hidden;
}

.top-bot {
  /* margin-left: 65%; */
  /* margin-right: ; */
  display: flex;
  width: fit-content;
  transition: all 0.2s ease;
  border-radius: 5px;
  margin-right: 5px;
}
.top-bot:hover {
  scale: 1.1;
  filter: hue-rotate(40deg) contrast(2);
}
#b-arrow {
  /* display: none; */
  width: 33px;
  height: 35px;
}

.side-note-div {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: end;
  /* width: 100%; */
  width: 100%;
  /* margin-left: auto; */
  /* padding: 10px; */
}
